@use 'base.scss' as *;

@keyframes move-up {
    to { top: 15%; }
}

@keyframes scale-down {
    to { scale: 0.5; }
}

@mixin salam-intro-animation {
    animation: fade-in 1s ease-in forwards, scale-in ease-out 1s forwards, move-up 1s 1s forwards, scale-down 1s 1s forwards;
}